<% provide(:title, 'Rating') %>
<h1>Rating</h1>

<%= will_paginate(@hotels, :renderer => WillPaginate::ActionView::LinkRenderer) %>

<ol>

  <span>
    <%= link_to "Add new hotel", new_hotel_path %>  
  </span>

  <% @hotels.each do |hotel| %>
    <%= render hotel %>
  <% end %>
</ol>

<%= will_paginate(@hotels, :renderer => WillPaginate::ActionView::LinkRenderer) %>