<% provide(:title, 'Hotel details') %>
<div class="container">
<h1><%= @hotel.title + '*'*@hotel.stars %></h1>

  <div class="row">
    <div class="col-md-6">
      <%= render 'hotels/hotel_info'  %>
      <hr/>
      <%= render 'hotels/rate_form' %>
    </div>

    <div class="col-md-6">
      <%= render 'hotels/hotel_rates'  %>
    </div>

  </div>
</div>