<% provide(:title, 'Hotel details') %>
<div class="container">
<h1><%= @hotel.title + "*"*@hotel.stars %></h1>

  <div class="row">
    <div class="col-md-6">

      <%= render 'hotel_info'  %>

      <%= render 'rate'  %>

    </div>

    <div class="col-md-6">
      <%= render 'hotel_rates'  %>
    </div>

  </div>
</div>